<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<link rel="stylesheet"type="text/css" href="css/about.css">
</head>
<body>

	<div class="main-header">
	<header>
		<h1>Global Code Website</h1>

		<nav>
			<li>
			<a href="home.html">Home</a>
			<a href="about.html">About</a>
			<a href="image.html">Images</a>
			<a href="services.html">Services</a>
		    </li>
		</nav>
	</header>
		</div>
	<div class="hey">
	<!--<h2>About Us</h2>
	<p>Global code is a non-governmental organization who have the passion to help university students who have interest in technology around the world.</p>-->
</div>
<div id="end">
	<footer>Copyright &copy; 2019, Global Code &reg;</footer>
	</div>
</body>
</html>