<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/home_code.css">


</head>
<body>
	<div class="main-header">
	<header>
		<h1>Global Code Website</h1>

		<nav>
			<li>
			<a href="home.html">Home</a>
			<a href="about.html">About</a>
			<a href="image.html">Images</a>
			<a href="services.html">Services</a>
		    </li>
		</nav>
	</header>
		</div>
        <br>
	<section>

		<img id ="logo" src ="images/global.jpg" alt="my global images">
		 <br><br><br><br><br><br><br><br><br><br><br><br><br> 
		<div id="sub-heading">
		<h2>Welcome to global code summer programme!!</h2>
		</div>
		<!-- <br><br><br><br><br><br> -->
		<p>
		<div id="paragraph">
			<strong>Global Code Summer Programme</strong> is a programmme organized for students in the  various tertiary institutions across the world including Ghana. It is organised by some companies abroad who have partnered and have reached an agreement to help students who are curious to learn more about programming and electronics. Global Code focuses on teaching a programming language called <em>Python</em> and the use of <em>raspberry pi</em> to programme and do other stuff. The founder of Global Code is <strong>Sam Moorhouse</strong>, a very intelligent man. Students are given the opportunity to interact freely with the tutors on lessons that they don't understand very well and are free to ask their tutors any question. During the last week of the Summer Programme, students are given the opportunity to build projects of their own to demonstrate what they have learnt so far from the programme and it's a very nice experience. Global Code is all about fun!!! fun!!! fun!!!
		</div>
		</p>
		<image id ="pic" src="images/photo.png" alt="my photo">

	</section>
	<div id="end">
	<footer>Copyright &copy; 2019, Global Code &reg;</footer>
	</div>

	

</body>
</html>