<!DOCTYPE html>
<html>
<head>
	<title>Services Page</title>
	<link rel="stylesheet"type="text/css" href="css/services.css">
</head>
<body>

	<div class="main-header">
	<header>
		<h1>Global Code Website</h1>

		<nav>
			<li>
			<a href="home.html">Home</a>
			<a href="about.html">About</a>
			<a href="image.html">Images</a>
			<a href="services.html">Services</a>
		    </li>
		</nav>
	</header>
		</div>
	
<div id="end">
	<footer>Copyright &copy; 2019, Global Code &reg;</footer>
	</div>
</body>
</html>