<!DOCTYPE>
<html>
    <head>
        <title>Global Code</title>
	<link rel="stylesheet" href="/static/main.css"
	</head>
	
    <body>
	
	<div class="main-header">
        <h1>Global Code 2019</h1>
	</div>
	<br>
	<p>Hello user, welcome to Global code 2019. This programme is held in some parts of the world where students in the various tertiary institutions are given training in python and various uses of the raspberry pi. This programme really gives opportunity to students who are curious to build new things and broaden to minds to know what is really going on in the world. Once again, welcome to global code, and enjoy to the fullest.</p>

    </body>
</html>